
	.topbar {
		background-color: #242c34;
		border-color: #242c34;
	}
	.navbar-default {
		background-color: #161d23;
	}
	.dropdown-menu,
	.dropdown-menu > li.shopcart:hover a, 
	.dropdown-menu > li.shopcart:active a, 
	.dropdown-menu > li.shopcart.active a, 
	.dropdown-menu > li.shopcart:focus a, 
	.dropdown-menu > li.shopcart:focus, 
	.dropdown-menu > li.shopcart.active, 
	.dropdown-menu > li.shopcart:active, 
	.dropdown-menu > li.shopcart:hover {
		background-color: #161d23 !important;
		border-color: #242c34 !important;
	}

	.header .navbar-nav > .open > a, 
	.header .navbar-nav > .open > a:hover, 
	.header .navbar-nav > .open > a:focus, 
	.header .navbar-nav > li:hover > a, 
	.header .navbar-nav > li:focus > a, 
	.header .nav > li:hover, 
	.header .nav > li:focus, 
	.header .nav > li > a:hover, 
	.header .nav > li > a:focus,
	.yamm-fw .box li, 
	.header .dropdown-menu > li > a,
	.yamm-fw .box li:hover, 
	.header .dropdown-menu > li:hover > a,
	.panel-body,
	.header {
		background-color: #161d23;
		border-color: #242c34;
	}
	.header .dropdown-menu li {
		border-bottom-color: #242c34;
	}
	.header .nav > li > a {
	    color: #8f9294;
	}
	.header .nav > li > a:hover,
	.header .nav > li > a:focus,
	.header .nav > li:hover,
	.header .nav > li:focus {
		background-color: #161d23;
	}
	.social i {
	    background-color: #242c34;
	    border: 1px solid #424a52;
	}
	.white {
		background-color: #202830;
	}
	.progress,
	.icon-container {
	    background-color: #50565d;
	}
	.service-style-1 {
		border-color: #454b51;
	}
	.service-style-2 strong, 
	.service-style-1 strong {
	    color: #50565d;
	}
	.btn-default, .dropdown-menu > li.shopcart:focus .btn-default, 
	.dropdown-menu > li.shopcart.active .btn-default, 
	.dropdown-menu > li.shopcart:active .btn-default, 
	.dropdown-menu > li.shopcart:hover .btn-default, 
	.btn-default:hover, 
	.btn-default:focus, 
	.btn-default.focus, 
	.btn-default:active, .btn-default.active, 
	.open > .dropdown-toggle.btn-default,
	.blog-style-2 .btn,
	.accordion-toggle-2 .panel, .accordion-toggle-2 .panel-heading,
	.parallax-window .btn-dark, .btn-dark {
	    background-color: #50565d !important;
	    border-color: #50565d !important;
	    color: #ffffff !important;
	}
	.shopcartmenu li h3,
	.skills p,
	.accordion-toggle h3 {
		color:#ffffff;
	}
	.footer {
		background-color: #161c22;
	}
	.copyrights {
		background-color: #12161b;
	}